<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'>1</span>
                <span class='icon-bar'>2</span>
                <span class='icon-bar'>3</span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Menedzer domowej biblioteki</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>

                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-home'></span> Zaloguj sie
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/register']">
                        <span class='glyphicon glyphicon-th-list'></span> Zarejestruj sie
                    </a>
                </li>
                <li>
                    <a> Okienka do podlaczenia</a>
                </li>
                <li>
                    <a> Okienko resetowania hasla</a>
                </li>
                <li>
                    <a> Okienko wyswietlania uzytkownikow</a>
                </li>
                <li>
                    <a> Okienko glowne biblioteki</a>
                </li>
                <li>
                    <a> Okienko z lista ksiazek</a>
                </li>
                <li>
                    <a> Okienko edycji ksiazki</a>
                </li>
                <li>
                    <a> Okienko resetowania hasla</a>
                </li>
                <li>
                    <a> Okienko wyboru statystyk</a>
                </li>
                <li>
                    <a> Okienko statystyk wypozyczen</a>
                </li>

            </ul>
        </div>
    </div>
</div>
