<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'>1</span>
                <span class='icon-bar'>2</span>
                <span class='icon-bar'>3</span>
            </button>
            <a *ngIf="status" class='navbar-brand' [routerLink]="['/loggedUser/startView']">Menedzer domowej biblioteki</a>
            <a *ngIf="status" class='navbar-brand' (click)="logout()" href="#">Wyloguj</a>
            <a *ngIf="!status" class='navbar-brand' [routerLink]="['/home']">Menedzer domowej biblioteki</a>
        </div>

        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>

            <ul *ngIf="status" class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/loggedUser/startView']">
                        <span class='glyphicon glyphicon-home'></span> Menu 1
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/loggedUser/startView']">
                        <span class='glyphicon glyphicon-th-list'></span> Menu 2
                    </a>
                </li>
            </ul>

            <ul *ngIf="!status" class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/login']">
                        <span class='glyphicon glyphicon-home'></span> Zaloguj sie
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/register']">
                        <span class='glyphicon glyphicon-th-list'></span> Zarejestruj sie
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
